body
{
    background-image: url("https://papers.co/wallpaper/papers.co-mu42-mountain-fog-nature-white-blue-sky-view-29-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.nav
{
    background-color: rgb(0, 0, 0,0.2);
    height: 100vh;
    color: rgba(255, 255, 255, 0.8);
}
.nav1{
    background-color: rgb(0, 0, 0,0.4);
    padding-left: 10px;
    cursor: pointer;
}
.nav1:hover
{
    background-color: rgb(0, 0, 0,0.6);
}
.nav2{
    padding-left: 10px;
    cursor: pointer;
}
.nav2:hover
{
    background-color: rgb(0, 0, 0,0.6);
}
.nav3{
    padding-left: 10px;
    cursor: pointer;
}
.nav3:hover
{
    background-color: rgb(0, 0, 0,0.6);
}
.header
{
    color:rgb(0, 0, 0,0.6) ;
}
.imgLogo
{
    height: 230px;
    padding-top: 60px;
}
.task
{
    height: 470px;
}
.noTask
{
    background-color: rgb(0, 0, 0,0.2);
    color: rgba(255, 255, 255, 0.8);
    /* display: none; */
    height: 470px;
}
.addTask
{
    padding-top: 30px;
    opacity: 0.5;
}
.onTask
{
    display: none;
}
.completeTask
{
    color:rgb(0, 0, 0,0.6) ;
    overflow: auto;
    height: 235px;
}
.remainingTask
{
    color:rgb(0, 0, 0,0.6) ;
    overflow: auto;
    height: 235px;
}
.remainingTaskList div
{
    background-color: rgb(0, 0, 0,0.2);
    color: rgba(255, 255, 255, 0.8);
}
.onTask i:hover{
    color: rgb(0, 0, 0,0.4);
} 
.completeTaskList div
{
    background-color: rgb(0, 0, 0,0.2);
    color: rgba(255, 255, 255, 0.8);
}